<h2 class="article-header">Electric Cars</h2>
<div class="article">
    <figure class="home-img">
        <img src="./img/port2.jpg" alt="wooden bridge in forest">
        <figcaption>The road we choose</figcaption>
    </figure>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non malesuada diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi libero ante, luctus id augue nec, rhoncus venenatis libero. Suspendisse potenti. Nunc et ligula euismod, ultricies orci aliquet, gravida risus. Sed quis tincidunt nulla, nec auctor ante. Phasellus iaculis ultrices erat eu condimentum. Nulla malesuada lobortis luctus. Morbi sit amet cursus turpis, vitae sodales urna. Nunc nisi nisl, varius non blandit sed, venenatis a tortor.
    </p>
    <p>
        Sed eleifend eget sem aliquam cursus. Sed a laoreet massa, eget finibus est. Nulla facilisi. Nulla sed finibus enim. In vel risus cursus, efficitur metus sed, tempor sem. Nam posuere neque et diam ullamcorper, id ultricies magna pellentesque. Nam hendrerit ipsum nec lectus facilisis, at tristique dolor finibus. Aenean convallis varius est eu commodo. Ut ullamcorper est et commodo bibendum. Integer euismod sapien at urna gravida, et accumsan nulla luctus. Praesent eget consequat magna.
    </p>
    <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed nisi neque, ultricies sed feugiat et, aliquam a elit. Donec rhoncus facilisis viverra. Aliquam tincidunt imperdiet urna, et venenatis risus interdum in. Duis non convallis diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius turpis mi, sed faucibus est semper in. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    </p>
</div>

<hr>
<div class="article">
    <h2 class="article-header">Waste Free Food</h2>
        <figure class="home-img">
            <img src="./img/port5.jpg" alt="wet leaves">
            <figcaption>How we live</figcaption>
        </figure>
        <p>
            Suspendisse vitae consectetur quam, quis pulvinar neque. Praesent et magna vitae nisi rhoncus aliquet eget quis ipsum. Etiam vel quam condimentum mauris dapibus aliquet in ac sem. Cras urna sapien, ultrices id pulvinar id, faucibus et ipsum. Pellentesque tincidunt nulla turpis, vel elementum urna auctor sit amet. Vivamus vulputate at justo sed elementum. Ut in nunc sit amet nunc pulvinar aliquam a at justo. Ut ultrices ullamcorper nibh, in bibendum purus molestie non. Phasellus id pellentesque diam. Phasellus non maximus neque. Nam auctor, justo ac euismod elementum, risus urna congue sem, sed vestibulum leo dolor a arcu. Vestibulum ut ligula vitae libero lacinia consectetur vitae vel sapien. Vestibulum volutpat a enim et convallis. Suspendisse nec maximus urna. Vestibulum a suscipit erat.
        </p>
        <p>
            Vestibulum nibh lacus, dictum quis scelerisque eget, fringilla vel dui. Nullam auctor ligula justo, ac tincidunt nunc laoreet vitae. Mauris sapien nulla, viverra in porta vel, luctus quis nisl. Quisque faucibus fringilla diam, non ultricies massa vulputate et. Suspendisse a metus vitae tellus commodo pretium. Cras congue, ipsum at dictum tempor, augue leo fringilla lacus, sit amet imperdiet eros ex vitae ex. Ut maximus bibendum tellus, a placerat ante tincidunt vel. Nunc eu vestibulum mi. Integer luctus eget magna sit amet congue. Ut feugiat ex enim, a volutpat ipsum scelerisque eget.
        </p>
        <p>
            Quisque vitae tempus velit. Aliquam pellentesque ante non elit posuere ultricies. Aliquam commodo, dui in gravida viverra, justo leo porttitor lectus, quis rutrum nibh tellus vel eros. Aliquam eget magna sollicitudin, suscipit tortor vitae, auctor turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut lacus mauris, aliquet ac condimentum sed, bibendum at sem. Integer purus mi, convallis non bibendum ut, ultrices eget velit. Sed efficitur molestie nunc aliquam fermentum.
        </p>
</div>
<hr>
<div class="article">
    <h2 class="article-header">Clean the Oceans</h2>
        <figure class="home-img">
            <img src="./img/port6.jpg" alt="little waterfall">
            <figcaption>What we leave behind</figcaption>
        </figure>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non malesuada diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi libero ante, luctus id augue nec, rhoncus venenatis libero. Suspendisse potenti. Nunc et ligula euismod, ultricies orci aliquet, gravida risus. Sed quis tincidunt nulla, nec auctor ante. Phasellus iaculis ultrices erat eu condimentum. Nulla malesuada lobortis luctus. Morbi sit amet cursus turpis, vitae sodales urna. Nunc nisi nisl, varius non blandit sed, venenatis a tortor.
        </p>
        <p>
            Sed eleifend eget sem aliquam cursus. Sed a laoreet massa, eget finibus est. Nulla facilisi. Nulla sed finibus enim. In vel risus cursus, efficitur metus sed, tempor sem. Nam posuere neque et diam ullamcorper, id ultricies magna pellentesque. Nam hendrerit ipsum nec lectus facilisis, at tristique dolor finibus. Aenean convallis varius est eu commodo. Ut ullamcorper est et commodo bibendum. Integer euismod sapien at urna gravida, et accumsan nulla luctus. Praesent eget consequat magna.
        </p>
        <p>
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed nisi neque, ultricies sed feugiat et, aliquam a elit. Donec rhoncus facilisis viverra. Aliquam tincidunt imperdiet urna, et venenatis risus interdum in. Duis non convallis diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius turpis mi, sed faucibus est semper in. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        </p>
</div>
