<h2>Portfolio</h2>
<div class="port-container row">
<figure class="col-12 col-md-6 col-lg-4 portfolio">
   <img src="./img/port1.jpg" alt="Looking up at tree leaves" /> 
   <figcaption>Looking up at tree leaves</figcaption>
</figure>
<figure class="col-12 col-md-6 col-lg-4 portfolio">
   <img src="./img/port2.jpg" alt="wooden bridge in forest" /> 
   <figcaption>Wooden Bridge in the Forest</figcaption>
</figure>
<figure class="col-12 col-md-6 col-lg-4 portfolio">
   <img src="./img/port2.jpg" alt="Trail through the woods" /> 
   <figcaption>Trail through the woods</figcaption>
</figure>
<figure class="col-12 col-md-6 col-lg-4 portfolio">
   <img src="./img/port2.jpg" alt="Pine Needles" /> 
   <figcaption>Pine Needles</figcaption>
</figure>
<figure class="col-12 col-md-6 col-lg-4 portfolio">
   <img src="./img/port2.jpg" alt="Wet Leaves" /> 
   <figcaption>Wet Leaves</figcaption>
</figure>
<figure class="col-12 col-md-6 col-lg-4 portfolio">
   <img src="./img/port2.jpg" alt="Small waterfall" /> 
   <figcaption>Small waterfall</figcaption>
</figure>
</div>